<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.smart_sense.tracker.wear" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".WearStartActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.smart_sense.tracker.libs.Util.ACTION_OPEN_START_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImuLiveScreen"
            android:label="@string/title_activity_imu_live_screen" />
        <activity
            android:name=".Annotate"
            android:label="@string/title_activity_annotate_smoking" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.smart_sense.tracker.libs.Util.ACTION_ANNOTATE_SMOKING" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WearNotificationStartScreen"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light" >

            <!-- android:label="@string/title_activity_notification_start_screen" -->
        </activity>
        <activity android:name="android.support.wearable.activity.ConfirmationActivity" />
        <activity
            android:name=".DebugActivity"
            android:label="@string/title_activity_debug" >
        </activity>

        <receiver
            android:name="de.smart_sense.tracker.wear.WearReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.smart_sense.tracker.libs.data_zip_upload.action.startZipperOnly" />
                <action android:name="de.smart_sense.tracker.libs.TransferDataAsAssets.transfer" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="de.smart_sense.tracker.wear.WearableMessageListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name=".logging.WearLoggingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="de.smart_sense.tracker.libs.data_zip_upload.ZipUploadService"
            android:enabled="true"
            android:exported="true" />
        <!-- android:process=":background_logging_process" -->

        <service
            android:name="de.smart_sense.tracker.libs.data_save.SensorDataSavingService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.smart_sense.tracker.data_export.action.saveData" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="de.smart_sense.tracker.libs.TransferDataAsAssets"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
