<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ess.imu_logger.wear" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="ess.imu_logger.libs.Util.ACTION_OPEN_START_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImuLiveScreen"
            android:label="@string/title_activity_imu_live_screen" >
        </activity>
        <activity
            android:name=".AnnotateSmoking"
            android:label="@string/title_activity_annotate_smoking" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="ess.imu_logger.libs.Util.ACTION_ANNOTATE_SMOKING" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service android:name=".WearableMessageListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name="ess.imu_logger.libs.logging.LoggingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="ess.imu_logger.libs.data_zip_upload.ZipUploadService"
            android:enabled="true"
            android:exported="true" />
        <!-- android:process=":background_logging_process" -->

        <service
            android:name="ess.imu_logger.libs.data_save.SensorDataSavingService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="ess.imu_logger.data_export.action.saveData" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="ess.imu_logger.libs.DataCollectorService" >
        </service>
        <service
            android:name=".TransferDataAsAssets"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
