<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.smart_sense.tracker.app" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- <uses-feature android:name="android.hardware.type.watch" /> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.smart_sense.tracker.app.StartScreen" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.smart_sense.tracker.libs.Util.ACTION_ANNOTATE" />
                <action android:name="de.smart_sense.tracker.libs.Util.ACTION_OPEN_START_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImuLiveScreen"
            android:label="@string/live_view"
            android:parentActivityName=".Debug" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Debug" />
        </activity>
        <activity
            android:name=".markdownViewer.HelpScreen"
            android:label="@string/title_activity_help_screen"
            android:parentActivityName=".StartScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_sense.tracker.app.StartScreen" />
        </activity>
        <activity
            android:name=".ApplicationSettings"
            android:label="@string/title_activity_test"
            android:parentActivityName=".StartScreen" />
        <activity
            android:name=".Debug"
            android:label="@string/title_activity_debug"
            android:parentActivityName=".StartScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_sense.tracker.app.StartScreen" />
        </activity>
        <activity
            android:name=".markdownViewer.IntroductionScreen"
            android:label="@string/title_activity_introduction"
            android:parentActivityName=".StartScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_sense.tracker.app.StartScreen" />
        </activity>
        <activity
            android:name=".markdownViewer.AboutScreen"
            android:label="@string/title_activity_about"
            android:parentActivityName=".StartScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_sense.tracker.app.StartScreen" />
        </activity>

        <receiver
            android:name=".PhoneReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.smart_sense.tracker.data_zip_upload.action.startService" />
                <action android:name="de.smart_sense.tracker.libs.data_zip_upload.action.startZipperOnly" />
                <action android:name="de.smart_sense.tracker.libs.TransferDataAsAssets.transfer" />
                <action android:name="de.smart_sense.tracker.libs.myReceiver.periodic" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".logging.AppLoggingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="de.smart_sense.tracker.libs.data_zip_upload.ZipUploadService"
            android:enabled="true"
            android:exported="true" />
        <!-- android:process=":background_logging_process" -->

        <service android:name="de.smart_sense.tracker.app.WearableMessageListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name="de.smart_sense.tracker.libs.data_save.SensorDataSavingService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.smart_sense.tracker.libs.data_save.action.saveData" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="de.smart_sense.tracker.libs.WearableMessageSenderService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".bluetoothLogger.BluetoothScannerService"
            android:enabled="true" >
        </service>
        <service
            android:name=".assetConsumer.AssetConsumer"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
