<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ess.imu_logger" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImuLiveScreen"
            android:label="@string/title_activity_imu_live_screen"
            android:parentActivityName=".StartScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>

        <service
            android:name=".LoggingService"
            android:enabled="true"
            android:exported="false">
	        <!-- android:process=":background_logging_process" -->
        </service>

	    <service
		    android:name=".data_zip_upload.ZipUploadService"
		    android:enabled="true"
		    android:exported="false">
		    <!-- android:process=":background_logging_process" -->
	    </service>


        <service
            android:name=".data_save.SensorDataSavingService"
            android:enabled="true"
            android:exported="true">
	        <!-- android:process=":background_logging_process" -->
            <intent-filter>
                <action android:name="ess.imu_logger.data_export.action.saveData" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ess.imu_logger.data_export.action.uploadData" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ess.imu_logger.data_export.action.compressData" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".myReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="ess.imu_logger.smokeAnnotation" />
                <action android:name="android.intent.action.TIME_SET" />
	            <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>



	    <activity
		    android:name=".HelpScreen"
		    android:label="@string/title_activity_settings_screen"
		    android:parentActivityName=".StartScreen" >
		    <meta-data
			    android:name="android.support.PARENT_ACTIVITY"
			    android:value="ess.imu_logger.StartScreen" />
	    </activity>
	    <activity
		    android:name=".ApplicationSettings"
		    android:label="@string/title_activity_test"
		    android:parentActivityName=".StartScreen" >
	    </activity>
    </application>

</manifest>
